APP_URL=http://www.hello.com
APP_PATH=/var/www/helloworld
APP_INDEX=0
APP_LIVE_DEBUG=1

#database connection details
DB_HOST=localhost
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=""
DB_PORT=3306

#smtp details for sending mail
MAIL_HOST=host.com
MAIL_USER=username
MAIL_PASSWORD=password
MAIL_SENDADDRESS=mail@mail.com
MAIL_SENDNAME="Actual Name" #use quotes when spaces are needed
